<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odd.zhihudailypaper">



    <application
        android:name=".Utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="21Mins"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup,android:label,android:supportsRtl">
        <activity android:name=".Activity.EditTelephoneActivity"></activity>
        <activity android:name=".Activity.EditUserNameActivity" />
        <activity android:name=".Activity.EditPasswordActivity" />
        <activity android:name=".Activity.ForgetPasswordActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.NewsActivity" />
        <activity android:name=".Activity.CollectionsActivity" />
        <activity android:name=".Activity.CommentsActivity" />
        <activity android:name=".Activity.NewInfoActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

</manifest>